/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body {
  line-height: 1.6;
  color: #444;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }


/* ==========================================================================
   Global
   ========================================================================== */

.masthead, .intro span, .member-name  { font-family: Garamond, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif; }

/* ==========================================================================
   Menu
   ========================================================================== */

body > .navbar { font-size: 12px; margin-bottom: 0; }
.navbar-inner { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
body > .navbar i { margin-right: 2px; }

/*
.navbar-inner { background-image: none; background: #fff; border: 1px solid #ddd; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus { color: #555; background-color: none; background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle { color: #555; background-color: none; background: none; }
*/

/* ==========================================================================
   Brand
   ========================================================================== */

.masthead { text-align: center; }
  .masthead .logo { text-align: center; }
  .masthead .span6 { padding-top: 20px; border-bottom: 6px solid #fdd931; }
  .masthead .site-title { font-size: 28px; margin: 0; line-height: 1.2; font-weight: normal; }
  .masthead .site-desc { font-size: 22px; margin: 0 0 25px; line-height: 1.2; font-style: italic; font-weight: normal;}

/* ==========================================================================
   Index
   ========================================================================== */

.featured { margin: 0; line-height: 0; position: relative; overflow: hidden; }
  #carousel { margin: 0!important; padding: 0!important;  }
  .featured-intro { position: absolute; bottom: 25%; z-index: 2; width: 100%;  }
    @media (min-width: 460px) { .featured-intro { bottom: 5px; } }
    @media (min-width: 766px) { .featured-intro { bottom: 15%; } }
    @media (min-width: 1200px) { .featured-intro { bottom: 25%; } }
    .featured-intro h3, .featured-intro p { font-size: 32px; font-weight: bold; line-height: 1; margin: 2px 0 0; color: #fff; background: #000; background: rgba(0,0,0,0.8); display: inline-block; padding: 15px 30px; float:left; clear:both; }
      @media (min-width: 460px) { .featured-intro h3, .featured-intro p {font-size: 14px;} }
      @media (min-width: 766px) { .featured-intro h3, .featured-intro p {font-size: 19px;} }
      @media (min-width: 1200px) { .featured-intro h3, .featured-intro p {font-size: 22px;} }
      @media (min-width: 1550px) { .featured-intro h3, .featured-intro p {font-size: 30px;} }
      .featured-intro a { color: #1587EB; }
      .featured-intro a:hover { text-decoration: none; color: #555; }

  .elastislide-prev, .elastislide-next {z-index: 100;}

.index-page .section-label, .about-page .section-label{ margin-bottom: 15px; font-size: 14px; letter-spacing: 2px; font-weight: bold; color: #aaa; text-transform: uppercase; border-bottom: 2px solid #eee; display: inline-block; }

.info { padding: 40px 0; color: #555; font-size: 14px; background: #f7f7f7;}
  .info h3 { color: #555; font-size: 16px; line-height: 1.6; margin-bottom: 10px; }

.sponsors { padding: 40px 0; color: #555; font-size: 14px; text-align: center;  }
  .sponsors h3 { color: #555; font-size: 18px; line-height: 1.6; margin-bottom: 20px; }
  .sponsor { text-align: center; }


/* ==========================================================================
   About page
   ========================================================================== */

.page-title { color: #444; padding: 30px 0; border-top: 1px solid #eee; margin-top: -1px; text-align: center; }
  .page-title h1 { font-size: 32px; margin: 0; }
  .page-title h2 { font-size: 24px; margin: 0; }

.about-page .info { font-size: 24px; color: #fff; text-align: center; background: #2E3133; }

.about-page .join { padding-top: 40px; }
  .join h3 { color: #555; font-size: 18px; line-height: 1.6; }
  #map_canvas { margin-top: 30px; height: 500px!important; }


/* ==========================================================================
   Team Page
   ========================================================================== */

.team-page .intro { padding: 13px 0; margin-bottom: 25px; }

.member-level-label { margin-top: 0; margin-bottom: 25px;}

.member{ box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); margin-bottom: 45px;}
.member:hover{ box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }

  .member-title { padding: 15px 0 0; text-decoration: none; text-align: center; color: #222; line-height: 1;}
    .member-position { color: #666; font-size: 10px; text-transform: uppercase; letter-spacing: 2px; }
    .member-name { font-size: 20px; font-weight: bold;}
    .member-bio { font-size: 14px; padding: 0 15px; }


/* ==========================================================================
   Archive Page
   ========================================================================== */

.archive-page {}

.canoe { padding: 30px 0; border-top: 1px solid #eee; }
  .canoe-year, .canoe-title, .canoe-paper { margin: 0; }
  .canoe-paper { line-height: 32px; }



/* ==========================================================================
   Footer
   ========================================================================== */

.footer { color: #777; padding: 40px 0; font-size: 12px; color: #777E83; background: #2E3133; }

  .footer h4 { font-size: 14px; margin-bottom: 20px; }

  .footer ul { list-style: none; padding: 0; margin: 0; font-size: 14px;  }
    .footer ul li a { color: #ddd; }
    .footer ul li a:hover { text-decoration: none; color: #777E83; }

  .copyright { margin-top: 25px; padding-top: 25px; text-align: center; color: #777E83; border-top: 1px solid #3A3E40; }